h1 {
    background-color: #D18C1D;
    border: 1px solid red;
    padding: 10px;
    
}
p {
background-color: #D1D631;
border: dotted 2px black;
width: 600px;
height: 400px;
}
img {
    border-radius: 50px;
}
a {
background-color:  #A1A1A1;
border-bottom: 3px dashed blue;
}
